<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIViewGeometryTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841108B920D91B0600A9C87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841108D120D91B1400A9C87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841108DC20D91B1400A9C87D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
